html{
  scroll-behavior: smooth;
}
#logo-logo{
  z-index: 2;
  position: relative;
  float: left;
  background-color: rgb(71, 21, 94);
  width: 30%;
  padding:10px;
  height: 69px;
  box-sizing: border-box;
	text-align:left;
}
#logo-logo a{
  text-decoration: none;
}
.graphpedia-logo{
  float: left;
  /* display: inline-block; */
  padding-right: 15px;
  padding-left: 20px;
  box-sizing: border-box;
}
.graphpedia-logo img{
  border-radius: 50%;
  margin-top: 5px;
}
.graphpedia-word{
  /* display: inline-block; */
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}
.graphpedia-word h4{
  font-size: 25pt;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nav-nav{
  z-index: 2;
  position: relative;
  float: right;
  background-color: rgb(71, 21, 94);
  width: 70%;
  padding:10px;
  height: 69px;
  box-sizing: border-box;
	text-align:right;
}
#nav-nav ul{
  float: right;
  margin-top: 12px;
}
#nav-nav ul li{
  display: inline-block;
  padding:20px;
  color:rgb(255, 255, 255);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:20px;
  margin-top:-20px;
  box-sizing: border-box;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#nav-nav ul li:hover{
  display: inline-block;
  padding:20px 20px 17px 20px;
  border-bottom: 3px solid rgb(255, 255, 255);
}
#nav-nav ul li a{
  color:rgb(255, 255, 255);
}
#nav-nav img{
  /* margin: 7px 15px 0px 15px; */
  border-radius: 50%;
  border: 10px solid rgb(71, 21, 94);
  /* float: right; */
}
#nav-nav .dropbtn {
  color: white;
  cursor: pointer;
  border:  3px solid rgb(71, 21, 94);
}

/* ================== PENDAFTARAN ================= */

#daftar{
  height: 180vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#daftar .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px;
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
  height: 180vh;
  padding: 40px;
  justify-content: center;
}

#daftar .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  text-align: center;
  width: 80vw;
  height: 145vh;
  font-size: 30px;
}
.card-daftar {
  box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  height: 155vh;
  overflow: hidden;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.card-daftar h2{
  border-radius: 0;
  padding: 20px 0;
  color: #FFFFFF;
  background-color: rgb(71, 21, 94);
}
.card-daftar form{
  padding: 50px 15px 40px;
  justify-content: center;
  text-align: center;
}
.card-daftar form > div{
  width: 80%;
  margin: auto;
  text-align: left;
}
.card-daftar form label{
  font-size: 16pt;
}
#daftar input[type=text]{
  width: 80%;
  padding: 8px 20px;
  margin: 8px auto 16px;
  font-size: 14pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  box-sizing: border-box;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 7px;
}
#daftar input[type=email]{
  width: 80%;
  padding: 8px 20px;
  margin: 8px auto 16px;
  font-size: 14pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  box-sizing: border-box;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 7px;
}
#daftar select{
  width: 50%;
  padding: 8px 20px;
  margin: 8px 0 16px;
  font-size: 14pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  box-sizing: border-box;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 7px;
}
#daftar textarea{
  width: 80%;
  padding: 20px 20px;
  margin: 8px auto;
  font-size: 14pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  box-sizing: border-box;
  border: 3px solid rgb(140, 37, 187);
  border-radius: 7px;
}
#daftar input[type=submit]{
  border: none;
  outline: 0;
  border-radius:7px;
  background-color: rgb(140, 37, 187);
  padding: 10px 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#daftar input[type=submit]:hover{
  background-color: rgb(71, 21, 94);
  color: white;
}

/* ===================KERANJANG================== */

#keranjang{
  height: 145vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#keranjang .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px;
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
  height: 125vh;
  padding: 40px;
  justify-content: center;
}

#keranjang .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  text-align: center;
  width: 80vw;
  height: 120vh;
  font-size: 30px;
}
.card-keranjang {
  box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  height: 120vh;
  overflow: hidden;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-keranjang h2{
  border-radius: 0;
  padding: 20px 0;
  color: #FFFFFF;
  background-color: rgb(71, 21, 94);
}
.card-keranjang form{
  margin: 5px auto;
  width: 80%;
  padding: 50px 15px 40px;
  justify-content: center;
  text-align: center;
}
.card-keranjang form > div{
  width: 100%;
  margin: auto;
  text-align: left;
}
.grid-cont {
  display: grid;
  grid-template-columns: 15% auto 8% 20%;
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 0 10px;
}

.grid-cont > div {
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 0px 0;
  font-size: 30px;
  /* border: 1px solid red; */
}
form img{
  width: 90px;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4 );
}
form h5{
  margin-top: 10px;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 14pt;
}
form h6{
  font-size: 12pt;
}
#keranjang form #trash{
  border: none;
  margin: 10px 0 0 0px;
  outline: 0;
  border-radius:7px;
  background-color: rgb(184, 31, 31);
  padding: 10px 15px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#keranjang form #trash:hover{
  background-color: rgb(255, 51, 51);
  color: white;
}
#keranjang form #info{
  border: none;
  margin: 10px 0 0 15px;
  outline: 0;
  border-radius:7px;
  background-color: darkturquoise;
  padding: 10px 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#keranjang form #info:hover{
  background-color: rgb(45, 248, 252);
  color: white;
}
#keranjang input{
  width: 60px;
  padding: 6px;
  margin: 10px auto 16px;
  font-size: 14pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  box-sizing: border-box;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 7px;
}
#keranjang hr{
  border: 1px solid #ad8aca;
}



.grid-cont2 {
  display: grid;
  grid-template-columns: auto 28%;
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 0 10px;
}

.grid-cont2 > div {
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 0px 0;
  font-size: 30px;
  font-size: 18pt;
}
.total{
  margin-top: 20px;
  margin-left: auto;
  text-align: right;
}
.jumlah{
  margin-top: 20px;
}
#keranjang input[type=submit]{
  border: none;
  outline: 0;
  width: 60%;
  margin: 15px 0 0 0 ;
  border-radius:7px;
  background-color: rgb(140, 37, 187);
  padding: 10px 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#keranjang input[type=submit]:hover{
  background-color: rgb(71, 21, 94);
  color: white;
}